.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.comment .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.comment .content p {
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.comment .content .user-info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
}

.comment .content .user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
