<div class="question-page">
    <div class="top-section">
        <div class="ask-question">
            <button mat-raised-button routerLink="/questions/ask" color="accent">
                Ask a Question
            </button>
        </div>
    </div>
    <app-progress-spinner *ngIf="loading"></app-progress-spinner>
    <ng-container *ngIf="question; else noquestion">
        <div class="question-section">
            <mat-card class="question-card">
                <div class="question">
                    <div class="voting-answers-section">
                        <div class="voting thumbs-ups">
                            <button mat-icon-button><mat-icon>thumb_up</mat-icon></button>
                            <span class="count">{{question.upvotes}}</span>
                        </div>
                        <div class="answers-count">
                            <span class="count">{{question.totalAnswers}}</span>
                            answers
                        </div>
                        <div class="voting thumbs-downs">
                            <button mat-icon-button><mat-icon>thumb_down</mat-icon></button>
                            <span class="count">{{question.downvotes}}</span>
                        </div>
                    </div>
                    <div class="question-content">
                        <a class="question-title" routerLink="/questions/{{question.id}}">
                            <h3>{{question.title}}</h3>
                        </a>
                        <div class="body">
                            {{question.body }}
                        </div>
                        <div class="tags">
                            <span *ngFor="let tag of question.tags">
                                <a routerLink="/questions/tagged/{{tag.name}}">{{tag.name}}</a>
                            </span>
                        </div>
                        <div class="user-info">
                            <img src="{{question.user.avatar}}" alt="{{question.user.name}}">
                            <!-- TODO: Add Time Ago Pipe, should factor modified date i.e if modified use the updatedAt -->
                            &nbsp;{{question.user.name}} asked {{question.createdAt | timeAgo}}
                        </div>
                    </div>
                </div>
                <div class="answer-btn">
                    <button mat-raised-button color="accent" appToScroll="add-answer">
                        {{question.totalAnswers > 0 ? 'Add Answer' : 'Be The First To Answer'}}
                    </button>
                </div>
            </mat-card>
        </div>
        <div class="comments-section">
            <div class="comments-title">
                <h2>Comments</h2>
            </div>
            <app-progress-spinner *ngIf="loading"></app-progress-spinner>
            <div class="question-comments">
                <!-- TODO: Pass the type of comment and the id  -->
                <app-comment class="question-comment" *ngFor="let comment of question.comments"
                    [comment]="comment"></app-comment>
            </div>
            <div class="add-comment">
                <app-add-comment></app-add-comment>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="answers-section">
            <app-progress-spinner *ngIf="loading"></app-progress-spinner>
            <div class="answers-title">
                <!-- <h2>Answers({{question.answers.length}})</h2> -->
            </div>
            <div class="answers">
                <!-- <div class="answers" *ngIf="question.answers.length>0"> -->
                <app-answer class="answer" *ngFor="let answer of question.answers" [answer]="answer"></app-answer>
                <!-- </div> -->
            </div>
            <div class="add-answer-section" id="add-answer">
                <h2>Your Answer</h2>
                <app-add-answer class="add-answer" [questionId]="question.id"></app-add-answer>
            </div>
        </div>
    </ng-container>
    <ng-template #noquestion>
        <div class="no-question" *ngIf="!loading">
            <p>The question does not exist.</p>
            <button mat-raised-button color="accent" (click)="goBack()">Go Back</button>
        </div>
    </ng-template>
</div>