<mat-toolbar class="nav">
    <a routerLink="/" class="logo">
        <img src="assets/images/stack-overflow-logo.png" alt="logo">
    </a>
    <div class="nav-btns">
        <button mat-button routerLink="/questions" routerLinkActive="active">Questions</button>
        <button mat-button routerLink="/tags" routerLinkActive="active">Tags</button>
        <button mat-button routerLink="/users" routerLinkActive="active">Users</button>
    </div>
    <div class="sign-btns">
        <button mat-button routerLink="/sign-in">Sign In</button>
        <button mat-raised-button color="accent" routerLink="/sign-up">Sign Up</button>
    </div>
</mat-toolbar>