<mat-toolbar class="nav">
    <a routerLink="/" class="logo">
        <img src="assets/images/Stack_Overflow_logo.png" alt="logo">
    </a>
    <div class="nav-btns">
        <button mat-button routerLink="/questions">Questions</button>
        <button mat-button routerLink="/tags">Tags</button>
        <button mat-button routerLink="/users">Users</button>
    </div>
    <mat-form-field appearance="outline" class="search-container">
        <input matInput placeholder="Search">
        <mat-icon class="search-icon" matSuffix matTooltip="Search">search</mat-icon>
    </mat-form-field>
    <div class="sign-btns">
        <button mat-button routerLink="/sign-in">Sign In</button>
        <button mat-raised-button color="accent" routerLink="/sign-up">Sign Up</button>
    </div>
</mat-toolbar>