.question-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.question-card:hover {
  border: 1px solid #ff6f00;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.voting-answers-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  width: 15%;
  height: 100%;
}

.voting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.voting button {
  padding: 0;
}

.voting .count {
  font-size: 0.8rem;
}

.answers-count {
  margin: 1rem 0;
  font-size: 0.8rem;
}

.question-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.question-content a {
  color: black;
}

.question-content .question-title h3 {
  margin: 0;
  padding: 0;
}

.question-content .description {
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.question-content .tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.question-content .tags span {
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  background-color: #cde9fe;
  color: black;
  font-size: 0.8rem;
}

.question-content .user-info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
}

.question-content .user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.answer-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem 0 0.5rem 0;
}

.answer-btn button {
  color: white;
  width: auto;
  font-size: 1rem;
}

.answer-btn button:hover {
  background-color: #f48225;
}
