<mat-card class="question-card">
    <div class="question">
        <div class="voting-answers-section">
            <div class="voting thumbs-ups">
                <button mat-icon-button><mat-icon>thumb_up</mat-icon></button>
                <span class="count">{{question.upvotes}}</span>
            </div>
            <div class="answers-count">
                <span class="count">{{question.totalAnswers}}</span>
                answers
            </div>
            <div class="voting thumbs-downs">
                <button mat-icon-button><mat-icon>thumb_down</mat-icon></button>
                <span class="count">{{question.downvotes}}</span>
            </div>
        </div>
        <div class="question-content">
            <a class="question-title" routerLink="/questions/{{question.id}}">
                <h3 appSearchHighlight="{{ searchTermHighlight }}">{{question.title}}</h3>
            </a>
            <div class="body" appSearchHighlight="{{ searchTermHighlight }}">
                {{question.body | truncate: 400}}
            </div>
            <div class="tags">
                <span *ngFor="let tag of question.tags">
                    <a [routerLink]="['/questions']" [queryParams]="{ filter: 'Tag', tag: tag.name }"
                        appSearchHighlight="{{ searchTermHighlight }}">{{tag.name}}</a>
                </span>
            </div>
            <div class="user-info">
                <img src="{{question.user.avatar}}" alt="{{question.user.name}}">
                <!-- TODO: Add Time Ago Pipe, should factor modified date i.e if modified use the updatedAt -->
                &nbsp;{{question.user.name}} asked {{question.createdAt | timeAgo}}
            </div>
        </div>
    </div>
    <div class="answer-btn">
        <button mat-raised-button color="accent" routerLink="/questions/{{question.id}}" appToScroll="add-answer">
            {{question.totalAnswers > 0 ? 'Add Answer' : 'Be The First To Answer'}}
        </button>
    </div>
</mat-card>