<div class="sign-in-page">
    <h1>Welcome Back</h1>
    <mat-card>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Email" type="email" formControlName="email" required>
                <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                    Please enter a valid email address.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Password" type="password" formControlName="password" required>
                <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                    Password is required.
                </mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="!form.valid || loading" color="accent">Sign In</button>
            <div class="forgot-password">
                <a routerLink="/forgot-password">Forgot Password?</a>
            </div>
        </form>
    </mat-card>
    <div class="sign-up">
        <span>Don't have an account?</span>&nbsp;
        <a routerLink="/sign-up">Sign Up</a>
    </div>
</div>