<div class="sign-in-page">
    <h1>Welcome Back</h1>
    <mat-card>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Email" type="email" formControlName="email" required>
                <mat-error *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.touched">
                    Please enter a valid email address.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Password" type="password" formControlName="password" required>
                <mat-error *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched">
                    Password must be at least 8 characters long,<br>
                    contain at least one uppercase letter,<br>
                    one lowercase letter,<br>
                    one number and<br>
                    one special character.<br>
                </mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="!signInForm.valid" color="accent">Sign In</button>
            <div class="forgot-password">
                <a routerLink="/forgot-password">Forgot Password?</a>
            </div>
        </form>
    </mat-card>
    <div class="sign-up">
        <span>Don't have an account?</span>&nbsp;
        <a routerLink="/sign-up">Sign Up</a>
    </div>
</div>