<div class="tag-card">
    <div class="tag-card-header">
        <div class="tag-name" appSearchHighlight="{{ searchTermHighlight }}">
            {{tag.name}}
        </div>
        <div class="tag-edit-delete">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button class="edit" mat-menu-item (click)="editTag()">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button class="delete" mat-menu-item (click)="deleteTag()">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="tag-body">
        <p appSearchHighlight="{{ searchTermHighlight }}">{{tag.body | truncate: 100}}</p>
    </div>
    <div class="tag-question-count">
        <a [routerLink]="['/questions']" [queryParams]="{ filter: 'Tag', tag: tag.name }"
            matTooltip="Questions tagged {{tag.name}}" [matTooltipPosition]="position">
            {{tag.totalQuestions | thousandSeparator}} questions
        </a>
    </div>
</div>