.tag-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
}

.tag-card:hover {
  border: 1px solid #ff6f00;
}

.tag-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag-name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  color: white;
  background-color: #77c2fc;
}

.tag-edit-delete button {
  width: 2rem;
  height: 2rem;
  padding: 0;
  color: #ff6f00;
  border: 1px solid #ff6f00;
}

.tag-edit-delete button:hover {
  scale: 1.2;
}

.delete:hover {
  background-color: red;
}

.tag-body p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.tag-question-count a {
  color: black;
}
