<div class="dashboard-page">
    <div class="top-section">
        <div class="user-container">
            <div class="avatar-container">
                <img class="avatar" src="{{user.avatar ? user.avatar : 'assets/images/avatar.png'}}" alt="avatar">
            </div>
            <div class="bio">
                <h1>{{user.name}}</h1>
                <p>Member since <span>{{user.createdAt | timeAgo}}</span>
                </p>
            </div>
        </div>
        <div class="edit-profile">
            <button mat-raised-button routerLink="/dashboard/edit-profile" color="accent">
                <mat-icon>edit</mat-icon>
                <span>Edit Profile</span>
            </button>
        </div>
    </div>
    <app-progress-spinner *ngIf="loading"></app-progress-spinner>
    <div class="analytics">
        <!-- <ng-container *ngIf="(userAnalytics$ | async) as userAnalytics; else noUserAnalytics"> -->
            <mat-card>
                <div class="answers">
                    <p *ngIf="userAnalytics.totalAnswers > 0">
                        You have answered&nbsp;
                        <a [routerLink]="['/questions']" [queryParams]="{ filter: 'answered', userId: user.id }">
                            {{userAnalytics.totalAnswers | thousandSeparator}} questions
                        </a>
                    </p>
                    <p *ngIf="userAnalytics.totalAnswers === 0">
                        You have not answered any questions yet&nbsp;
                        <a [routerLink]="['/questions']" [queryParams]="{ filter: 'unanswered' }">
                            Unanswered Questions
                        </a>
                    <p>
                </div>
            </mat-card>
            <mat-card>
                <div class="questions">
                    <p *ngIf="userAnalytics.totalQuestions > 0">
                        >You have asked&nbsp;
                        <a [routerLink]="['/questions']" [queryParams]="{  userId: user.id}">
                            {{userAnalytics.totalQuestions | thousandSeparator }} questions
                        </a>
                    </p>
                    <p *ngIf="userAnalytics.totalQuestions === 0">
                        You have not asked any questions yet&nbsp;
                        <a routerLink="/questions/ask">Ask Questions</a>
                    </p>
                </div>
            </mat-card>
            <mat-card>
                <div class="tags">
                    <p *ngIf="userAnalytics.totalTags > 0">
                        You have participated in&nbsp;
                        <a [routerLink]="['/tags']" [queryParams]="{ userId: '1' }">
                            {{userAnalytics.totalTags | thousandSeparator}} tags
                        </a>
                    </p>
                    <p *ngIf="userAnalytics.totalTags === 0">You have not participated in any
                        <a routerLink="/tags">Tags</a>
                    </p>
                </div>
            </mat-card>
        <!-- </ng-container> -->
        <!-- <ng-template #noUserAnalytics>
            <div class="error-user-analytics" *ngIf="!loading">
                <p>Error loading user analytics. Please try again later.</p>
                <button mat-raised-button color="accent" [routerLink]="['/questions']"
                    [queryParams]="{ filter: 'unanswered' }">Start Contributing</button>
            </div>
        </ng-template> -->
    </div>
</div>