.dashboard-page {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top-section {
  height: 30%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.user-container {
  display: flex;
  align-items: center;
}

.avatar-container {
  width: 10rem;
  height: 10rem;
  margin-right: 3rem;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.bio {
  display: flex;
  flex-direction: column;
}

.bio h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.bio p {
  font-size: 1.5rem;
  font-weight: 500;
}

.edit-profile button {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
}

.edit-profile button:hover {
  background-color: #ff6f00;
}

.analytics {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.analytics mat-card {
  width: 30%;
  height: 10rem;
  margin-bottom: 2rem;
}

mat-card div {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

mat-card div:hover {
  border: 1px solid #ff6f00;
}

.answers,
.questions,
.tags {
  display: flex;
  justify-content: center;
  width: 100%;
}

.answers p,
.questions p,
.tags p {
  font-size: 1.2rem;
  font-weight: 500;
}

.answers span,
.questions span,
.tags span {
  font-weight: 600;
}

.answers a,
.questions a,
.tags a {
  color: #0a95ff;
}

.error-user-analytics {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-user-analytics p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.error-user-analytics button {
  width: 15rem;
  height: 3rem;
  font-size: 1rem;
  margin-top: 1rem;
}

.error-user-analytics button:hover {
  background-color: #ff6f00;
}
