<div class="update-profile-page">
    <div class="go-back">
        <button mat-raised-button color="accent" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon> Go Back
        </button>
    </div>
    <div class="title-container">
        <h1>Update Your Profile</h1>
    </div>
    <div class="update-form-container">
        <mat-card>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Display Name</mat-label>
                    <input matInput formControlName="name" />
                    <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                        Name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" />
                    <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                        Email is required and must be valid
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                    <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                        Password must be at least 8 characters long,<br>
                        contain at least one uppercase letter,<br>
                        one lowercase letter,<br>
                        one number and<br>
                        one special character.<br>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" />
                    <span
                        *ngIf="(form.hasError('mismatch') && form.get('confirmPassword')?.touched) || (form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched)"
                        class='error'>
                        Passwords must match
                    </span>
                </mat-form-field>
                <mat-form-field appearance='fill'>
                    <textarea matInput placeholder='About Me' rows='5' cols='20' maxlength='200'
                        formControlName='aboutMe'></textarea>
                    {{200 - form.controls['aboutMe'].value?.length}} characters left
                </mat-form-field>
                <button mat-raised-button color='accent' type='submit'
                    [disabled]='!form.valid || form.pending'>
                    Update Profile
                </button>
            </form>
        </mat-card>
    </div>
</div>