.hero {
  background-color: #cde9fe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
  padding: 0 5rem;
}

.left {
  width: 50%;
}

.left .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 75%;
}

.left h1 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #1a1a1a;
}

.left h1 span {
  color: #1a1a1a;
  font-weight: bold;
}

.left h1 sub {
  font-size: 1rem;
  font-weight: normal;
  vertical-align: sub;
}

.left p {
  font-size: 1.2rem;
  color: #1a1a1a;
  margin: 1rem 0;
  text-align: end;
}

.left .content .btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.left .btn-container button {
  color: white;
}

button:hover {
  background-color: #0a95ff;
}

.right {
  width: 50%;
}

.right img {
  width: 100%;
}
