<div class="hero">
    <div class="left">
        <div class="content">
            <h1>Stack <span>Overflow</span><sub>Lite</sub></h1>
            <p>Find the best answer to your technical question, help others answer theirs</p>
            <div class="btn-container">
                <button mat-raised-button routerLink="/sign-up" color="primary">Join the Community</button>
            </div>
        </div>
    </div>
    <div class="right">
        <img src="assets/images/globe.svg" alt="">
    </div>
</div>
<div class="search-form-container">
    <div class="search">
        <app-search></app-search>
    </div>
    <button mat-raised-button routerLink="/questions/ask" color="accent">Ask a Question</button>
</div>
<div class="recent-questions">
    <div class="recent-questions-title">
        <h2>Recent Questions</h2>
    </div>
    <div class="questions" *ngIf="(questions!==undefined&&questions.length!==0); else noQuestions">
        <app-question-card *ngFor="let question of questions" [question]="question"></app-question-card>
    </div>
    <ng-template #noQuestions>
        <div class="no-questions">
            <p>There are no questions yet. Be the first to ask a question.</p>
            <button mat-raised-button routerLink="/questions/ask" color="accent">Ask a Question</button>
        </div>
    </ng-template>
</div>

<!-- Comments Section
<div class="comments-section">
     TODO: Add Pagination or Infinite Scroll 
    <app-comment-card *ngFor="let comment of comments" [comment]="comment"></app-comment-card>  
</div>
-->
<!-- Pagination -->
