<mat-card class="answer-card">
    <div class="answer">
        <div class="voting-answers-section">
            <div class="voting thumbs-ups">
                <button mat-icon-button><mat-icon>thumb_up</mat-icon></button>
                <span class="count">{{answer.upvotes}}</span>
            </div>
            <div class="voting thumbs-downs">
                <button mat-icon-button><mat-icon>thumb_down</mat-icon></button>
                <span class="count">{{answer.downvotes}}</span>
            </div>
            <div class="user-accepted">
                <mat-icon color="accent" *ngIf="answer.isAccepted">check_circle</mat-icon>
            </div>
        </div>
        <div class="answer-content">
            <div class="description">
                {{answer.body}}
            </div>
            <div class="user-info">
                <img src="{{answer.user.avatar}}" alt="{{answer.user.name}}">
                <!-- TODO: Add Time Ago Pipe, should factor modified date i.e if modified use the updatedAt -->
                &nbsp;{{answer.user.name}} asked {{answer.createdAt | timeAgo}}
            </div>
        </div>
    </div>
</mat-card>
<div class="comments-section">
    <div class="comments-title">
        <h2>Comments</h2>
    </div>
    <div class="question-comments" *ngIf="answer.comments.length>0">
        <!-- TODO: Pass the type of comment and the id -->
        <app-comment class="question-comment" *ngFor="let comment of answer.comments" [comment]="comment"></app-comment>
    </div>
    <div class="add-comment">
        <app-add-comment [for]="'answer'" [id]="answer.id"></app-add-comment>
    </div>
</div>
<mat-divider></mat-divider>