<mat-card class="answer-card">
    <div class="answer">
        <div class="voting-answers-section">
            <div class="voting thumbs-ups">
                <button mat-icon-button><mat-icon>thumb_up</mat-icon></button>
                <span class="count">{{answer.upvotes}}</span>
            </div>
            <div class="voting thumbs-downs">
                <button mat-icon-button><mat-icon>thumb_down</mat-icon></button>
                <span class="count">{{answer.downvotes}}</span>
            </div>
            <div class="user-accepted">
                <mat-icon color="accent" *ngIf="answer.isAccepted">check_circle</mat-icon>
            </div>
        </div>
        <div class="answer-content">
            <div class="description">
                {{answer.text}}
            </div>
            <div class="user-info">
                <img src="{{answer.user.avatar}}" alt="{{answer.user.name}}">
                <!-- TODO: Add Time Ago Pipe, should factor modified date i.e if modified use the updatedAt -->
                &nbsp;{{answer.user.name}} asked {{answer.createdAt | timeAgo}}
            </div>
        </div>
    </div>
</mat-card>