.forgot-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
  padding: 0 20px;
}

.forgot-password-page mat-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

.forgot-password-page mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.forgot-password-page button {
  width: 100%;
  padding: 1.5rem 0;
  margin-bottom: 1.6rem;
  font-size: 1.3rem;
}

.forgot-password-page button:hover {
  background-color: #f48225;
}

mat-error.mat-mdc-form-field-error {
  font-size: 0.8rem;
}
