<div class="forgot-password-page">
    <mat-card>
        <p>
            Forgot your account’s password? <br>
            Enter your email address and we’ll send you a recovery link.
        </p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Email" type="email" formControlName="email" required>
                <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
                    Please enter a valid email address.
                </mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="!forgotPasswordForm.valid" color="accent">
                Send Password Reset Email
            </button>
        </form>
    </mat-card>
</div>