.tags-page {
  margin: 1rem 5rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.tags-heading {
  width: 80%;
}

.tags-heading h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.ask-question button {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
}

.ask-question button:hover {
  background-color: #ff6f00;
}

.search-icon:hover {
  scale: 2;
  color: #ff6f00;
}

.tags {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tag {
  width: calc(20% - 2rem);
  margin: 0 2rem;
}

.no-tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.no-tags p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.no-tags button {
  width: 15rem;
  font-size: 1.5rem;
}

.no-tags button:hover {
  background-color: #ff6f00;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
