/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  /* font-size: 62.5%; */
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* for HighlightDirective */
.highlight {
  color: white;
  background-color: #ff6f00;
}
