<div class="questions-page">
    <ng-container *ngIf="(questions$ | async ) as questions; else noquestions">
        <div class="top-section">
            <div class="questions-heading">
                <h1 *ngIf="!loading">Total Questions
                    <span class="questions-count">({{totalItems! | thousandSeparator}})</span>
                </h1>
            </div>
            <div class="ask-question">
                <button mat-raised-button routerLink="/questions/ask" color="accent">Ask a Question</button>
            </div>
        </div>
        <div class="search-form-container">
            <app-search (search)="onSearch($event)"></app-search>
        </div>
        <div class="questions-container">
            <mat-tab-group [selectedIndex]="selectedquestionCategory">
                <mat-tab *ngFor="let questionCategorie of questionCategories" [label]="questionCategorie.label">
                    <div class="questions" *ngIf="questions.length>0; else noquestions">
                        <app-question class="question"
                            *ngFor="let question of questions | filterQuestions: searchType: searchTerm | sortQuestions: sortBy | paginate: { id: 'questions-page', currentPage: page, itemsPerPage, totalItems}"
                            [question]="question" searchTermHighlight="{{searchTerm}}"></app-question>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-container>
    <app-progress-spinner *ngIf="loading"></app-progress-spinner>
    <ng-template #noquestions>
        <div class="no-questions" *ngIf="!loading">
            <p>There are no questions yet. Be the first to add a question.</p>
            <button mat-raised-button routerLink="/questions/ask" color="accent">Add a question</button>
        </div>
    </ng-template>
</div>
<div class="pagination" *ngIf="questions$ | async ">
    <pagination-controls (pageChange)="onPageChange($event)" id="questions-page"></pagination-controls>
</div>