form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

form mat-form-field {
  width: 100%;
}

.search-icon:hover {
  scale: 2;
  color: #f48225;
}
