<div class="password-reset-page">
    <div class="title-container">
        <h1>Reset Password</h1>
    </div>
    <mat-card>
        <!-- <p> TODO:(enhancement) display user account email here
            Reset password for:<br>
            <span>username@gmail.com</span>
        </p> -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error
                    *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                    Password must be at least 8 characters long,<br>
                    contain at least one uppercase letter,<br>
                    one lowercase letter,<br>
                    one number and<br>
                    one special character.<br>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword"
                    [errorStateMatcher]="passwordMatchErrorState">
                <mat-error
                    *ngIf="(form.hasError('mismatch') || form.get('confirmPassword')?.invalid) && form.get('confirmPassword')?.touched">
                    Passwords do not match
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">
                Reset Password
            </button>
        </form>
    </mat-card>
</div>