<div class="password-reset-page">
    <div class="title-container">
        <h1>Reset Password</h1>
    </div>
    <mat-card>
        <p>
            Reset password for:<br>
            <span>username@gmail.com</span>
            <!-- <span>{{token}}</span> -->
        </p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error
                    *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
                    Password must be at least 8 characters long,<br>
                    contain at least one uppercase letter,<br>
                    one lowercase letter,<br>
                    one number and<br>
                    one special character.<br>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword"
                    [errorStateMatcher]="passwordMatchErrorState">
                <mat-error
                    *ngIf="(resetPasswordForm.hasError('mismatch') || resetPasswordForm.get('confirmPassword')?.invalid) && resetPasswordForm.get('confirmPassword')?.touched">
                    Passwords do not match
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit" [disabled]="!resetPasswordForm.valid">
                Reset Password
            </button>
        </form>
    </mat-card>
</div>